body{
    background-image: url("image1.jpg"); 
    /*background-color: lightblue;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;*/ 
}
img{
    border-radius: 8px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    color: black;
    /*text-decoration: none;*/
    font-family: Arial, Helvetica, sans-serif;
    font-display: bold; 
    
}
p{
    text-align: center;
}

table,th,td {
    border: 1px solid black;
    font-family: Arial, Helvetica, sans-serif;
    
}
table{
    margin-left:auto; 
    margin-right:auto;
}

th,td{
    padding: 15px;
    text-align: left; 
}

input[type=text]{
    width: 30%;
    padding: 10px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    
}
input[type=date]{
    width: 30%;
    padding: 10px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    
}

label{
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
}