<html>
<head>
    <link rel="stylesheet" type="text/css" href="myStyle.css">
</head>
<body>
	<h1>List Developers Page</h1>
    <p><a href="/" style="font-size: 20px;">Home</a>
    <a href="/newtask" style="font-size: 20px;">Add new Task</a></p>
    <table>
    	<tr>
			<td>Developer ID</td>
			<td>First Name</td>
			<td>Last Name</td>
			<td>Level</td>
			<td>State</td>
			<td>Suburb</td>
			<td>Street</td>
    		<td>Unit</td>			
    	</tr>
    	<% for(var i=0;i<developers.length;i++){ %>
    		<tr>
				<td><%= developers[i]._id %></td>
				<td><%= developers[i].name.firstName %></td>
				<td><%= developers[i].name.lastName %></td>
				<td><%= developers[i].level %></td>
				<td><%= developers[i].address.state %></td>
				<td><%= developers[i].address.suburb %></td>
				<td><%= developers[i].address.street %></td>
				<td><%= developers[i].address.unit %></td>
    		</tr>
    	<% }%>
    </table>
</body>
</html>