<html>
<head>
    <link rel="stylesheet" type="text/css" href="myStyle.css">
</head>
<body>
    <h1>List Tasks Page</h1>
    <p><a href="/">Home</a>
    <a href="/newtask">Add new Task</a></p>
    <table>
    	<tr>
			<td>Task ID</td>
			<td>Task Name</td>
			<td>Assign To</td>
			<td>Due Date</td>
			<td>Task Status</td>
    		<td>Description</td>			
    	</tr>
    	<% for(var i=0;i<tasks.length;i++){ %>
    		<tr>
				<td>
					<%= tasks[i].taskId %>
				</td>
    			<td>
    				<%= tasks[i].name %>
				</td>
				<td>
						<%= tasks[i].assign %>
				</td>
    			<td>
    				<%= tasks[i].dueDate %>
				</td>
				<td>
					<%= tasks[i].status %>
				</td>
    			<td>
    				<%= tasks[i].description %>
    			</td>
    		</tr>
    	<% }%>
    </table>
</body>
</html>